# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Show some Markdown Skills in Jupyter Notebook
- Recognize the most populars tools, languages and libraries in data science
- Know the very basics of coding using arithmetic examples

## Author
Samuel

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. julia
5. Java
6. Scala
7. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Numpy
4. Sci-kit learn
5. Keras

|Data Science Tools|
|------------------|
|MySQL|
|Apache Kafka|
|TensorFlow.JS|

### Below are a few examples of evaluating arithmetic expressions in Python.

$5+7 = 12 , \ \ \  5 \cdot 5 - 2 = 23, \ \ \ (5-3)\cdot 2 = 4$

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes/60

hours

3.3333333333333335